@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DemoBuildCoreBlazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />

   @*  <AuthorizeView>
        <Authorized>
        </Authorized>
        <NotAuthorized>
            @code {
        protected override void OnInitialized()
        {
                // Navigation.NavigateTo("/login");
        }
            }
        </NotAuthorized>
    </AuthorizeView> *@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
