@page "/user-list"
@using HappyBookingClient.Components.Layout
@using HappyBookingClient.Service.IService
@using HappyBookingShare.Request.User
@using HappyBookingShare.Response.Dtos
@inject IUserService _userService
@inject ILanguageService _languageService

<h3>Product List</h3>

<ul>
    @foreach (var user in userList)
    {
        <li>@user.UserId - @user.FullName</li>
    }
</ul>

<LoadingComponent IsLoading="isLoading" />

@code {
    private List<UserDto> userList = new();
    private string accessToken = string.Empty;
    private bool isLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoading = true;
            accessToken = await _userService.GetTokenFromLocalStorageAsync();
            GetListUserRequest request = new();
            request.PageIndex = 1;
            request.PageSize = 20;
            var response = await _userService.GetAllUserData(request);
            userList = response?.Data ?? new();

            await _languageService.LoadLanguage();
            StateHasChanged();
            isLoading = false;
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
