@page "/user-list"
@using HappyBookingClient.Service.IService
@using HappyBookingShare.Request.User
@using HappyBookingShare.Response.Dtos
@inject IUserService _userService
@inject ILanguageService _languageService

<h3>Product List</h3>

@if (userList.Any())
{
    <ul>
        @foreach (var user in userList)
        {
            <li>@user.UserId - @user.FullName</li>
        }
    </ul>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private List<UserDto> userList = new();
    private string accessToken = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            accessToken = await _userService.GetTokenFromLocalStorageAsync();
            GetListUserRequest request = new();
            request.PageIndex = 1;
            request.PageSize = 20;
            var response = await _userService.GetAllUserData(request);
            userList = response?.Data ?? new();

            await _languageService.LoadLanguage();
            StateHasChanged();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}
